* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(../sample_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}
p{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bio{
    height: fit-content;
    max-width: 80%;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 10px;
    padding: 40px;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}